<!doctype html>
<html>
<head>
  <title>Game Time!</title>
  <link rel="stylesheet" type= "text/css" href="/static/madlibs.css">
</head>
    <body>
        <form action="/madlib">
            <h2 class="instruction">Please fill in the blanks below.</h2>
            <label for="adjective">Adjective:</label>
            <input type="text" name="adjective" id="adjective">
            <br>
            <label for="noun">Noun:</label>
            <input type="text" name="noun" id="noun">
            <br>
            <label for="pverb">Past-tense verb:</label>
            <input type="text" name="pverb" id="pverb">
            <br>
            <label for="adverb">Adverb:</label>
            <input type="text" name="adverb" id="adverb">
            <br>
            <label for="adjective2">Adjective:</label>
            <input type="text" name="adjective2" id="adjective2">
            <br>
            <label for="noun2">Noun:</label>
            <input type="text" name="noun2" id="noun2">
            <br>
            <label for="noun3">Noun:</label>
            <input type="text" name="noun3" id="noun3">
            <br>
            <label for="adjective3">Adjective:</label>
            <input type="text" name="adjective3" id="adjective3">
            <br>
            <label for="verb">Verb:</label>
            <input type="text" name="verb" id="verb">
            <br>
            <label for="adverb2">Adverb:</label>
            <input type="text" name="adverb2" id="adverb2">
            <br>
            <label for="pverb2">Past-tense verb:</label>
            <input type="text" name="pverb2" id="pverb2">
            <br>
            <label for="adjective4">Adjective:</label>
            <input type="text" name="adjective4" id="adjective4">
            <br>
            <input type="submit" value="Let's play!">
        </form>
    </body>
</html>
