<!doctype html>
<html>
<head>
  <title>Game Time!</title>
</head>
    <body>
        <form action="/madlib">
            Please fill in the blanks below.
            <br>
            <label for="person">A person:</label>
            <input type="text" name="person" id="person">
            <br>
            <label for="no">A color:</label>
            <input type="text" name="color" id="color">
            <br>
            <label for="no">A noun</label>
            <input type="text" name="noun" id="noun">
            <br>
            <label for="no">An adjective</label>
            <input type="text" name="adjective" id="adjective">
            <br>
            <input type="submit" value="Let's play!">
        </form>
    </body>
</html>