<!doctype html>
<html>
<head>
  <title>Madlib!</title>
</head>
    <body>
        Two days ago I went to the zoo. I saw a(n)
        {{ adjective }}
        {{ noun }} jumping up and down in its tree.
        He {{ pverb }} {{ adverb }}
        through the large tunnel that led to its {{ adjective2 }}
       {{ noun2 }}. I got some peanuts and passed
        them through the cage to a gigantic gray {{ noun3 }}
        towering above my head. Feeding that animal made
        me hungry. I went to get a {{ adjective3 }} scoop
        of ice cream. It filled my stomach. Afterwards I had to
        {{ verb }} {{ adverb2 }} to catch our bus.
        When I got home I {{ pverb2 }} my
        mom for a {{ adjective4 }} day at the zoo.
    </body>
</html>